language: python
python:
  - "2.7"

install:
  - pip install pytest pytest-cov
  - pip install mockito
  - pip install coveralls
  - pip install radon
  - pip install pep8
  - pip install sphinx

script:
  - pep8 ./src/ --statistics --count
  - pep8 ./tests/ --statistics --count
#  - sphinx-build -b html ./doc/source ./doc/build
  - py.test --cov . --cov-report term-missing
  - radon cc ./src/
  - radon cc ./tests/
  - radon mi ./src/
  - radon mi ./tests/
  - radon raw ./src/
  - radon raw ./tests/
after_script:
  - coveralls
notifications:
  email:
    recipients:
      - glmarmar@alu.upo.es
      - fake@superrito.com